.boardList {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.boardList th {
    text-align: center;
    border-bottom: 1px solid white;
}
.boardList tr:last-child {
    border: none;
}
.boardList th,
.boardList td {
    padding: 2px;
}
.boardList tr th {
    padding: 5px;
}
.post-heading {
    border-bottom: 2px solid white;
}
.writer, .date {
    text-align: center;
}
.views, .post-num, .recommend {
    text-align: right;
}
/* 모바일 환경에서 특정 열만 표시 */
@media screen and (max-width: 600px) {
    .boardList th, .boardList td {
        display: none; /* 모든 열을 기본적으로 숨김 */
    }
    .mobile-visible {
        display: table-cell; /* 모바일 환경에서 보일 열 */
    }
}

/* 비 모바일 환경에서는 모든 열을 표시 */
@media screen and (min-width: 601px) {
    .boardList th, .boardList td {
        display: table-cell;
    }
}


