@font-face {
    font-family: 'DungGeunMo';
    src: url('/fonts/DungGeunMo.ttf') format('truetype');
}
body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: "DungGeunMo", sans-serif;
    color: white;
    font-size: 16px;
    background-image: url('/image/star_full.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 768px) {
    body {
        font-size: 20px;
    }
}
.section-wrapper {
    min-height: 850px;
}
p {
  font-family: "DungGeunMo", sans-serif;
  font-size: 15px;
  margin: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "DungGeunMo", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
legend {
    font-size: 16px;
    color: white;
    border-bottom: 0;
    width: auto;
    text-align: center;
    margin: 0;
}
th {
    font-weight: 100;
    padding: 10px;
}
li {
    display: inline-block;
    margin-right: 10px;
}
td {
    padding-top : 10px;
    padding-bottom : 10px;
}
select {
    background-color: transparent;
    border: none;
    outline: none;
}
option {
    background-color: #010a47;
}
fieldset {
    border: 1px solid white;
    padding: 10px;
}
a {
    color: white;
}
li {
    margin: 10px;
    display: block;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: none;
}
input {
    height: 50px;
    border: none;
    margin: 2px;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
}
input:focus {
    outline: none;
}
input[type="checkbox"] {
    transform: scale(1.5);
}
button {
    height: 50px;
    border: 2px solid #ffffff;
    margin: 2px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
button.cancel-btn {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
button.cancel-btn:hover {
    color: grey;
}
.section {
  padding: 80px 0;
}
.title {
  padding: 20px 0 30px;
}
.container {
    padding: 0;
}
.section-inner {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 630px;

}
