<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sc1hub.mapper.BoardMapper">

    <resultMap id="MemberDTO" type="com.sc1hub.member.MemberDTO">
        <result column="id" property="id" />
        <result column="nickname" property="nickName" />
    </resultMap>

    <resultMap id="boardCommentDTO" type="com.sc1hub.board.CommentDTO">
        <result column="post_num" property="postNum" />
        <result column="comment_num" property="commentNum" />
        <result column="id" property="id" />
        <result column="reg_date" property="regDate" />
        <result column="content" property="content" />
        <collection property="memberDTO" resultMap="MemberDTO" />
    </resultMap>

    <select id="showPostList" resultType="com.sc1hub.board.BoardDTO">
        select post_num, title, content, writer, reg_date, views, comment_count, recommend_count
            from ${boardTitle}
            where <include refid="searchKeyword" /> and notice=0
            order by post_num desc
            limit #{page.postBeginPoint}, #{page.displayPostLimit}
    </select>

    <sql id="searchKeyword">
        <if test="page.searchType == 'title'">title like concat('%', #{page.keyword}, '%')</if>
        <if test="page.searchType == 'content'">content like concat('%', #{page.keyword}, '%')</if>
        <if test="page.searchType == 'titleAndContent'">title like concat('%', #{page.keyword}, '%')
            or content like concat('%', #{page.keyword}, '%')</if>
    </sql>

    <select id="readPost" resultType="com.sc1hub.board.BoardDTO">
        select * from ${boardTitle}
        where post_num=#{postNum}
    </select>

    <insert id="submitPost">
        insert into ${boardTitle}(title, writer, reg_date, views, content, comment_count, notice)
        values(#{board.title}, #{board.writer}, now(), 0, #{board.content}, 0, #{board.notice})
    </insert>

    <update id="submitModifyPost">
        update ${boardTitle}
        set title=#{board.title}, content=#{board.content}, writer=#{board.writer}, notice=#{board.notice}
        where post_num=#{board.postNum}
    </update>

    <delete id="deletePost">
        delete from ${boardTitle}
        where post_num=#{postNum}
    </delete>

    <select id="countTotalPost" resultType="int">
        select count(*) from ${boardTitle}
        where <include refid="searchKeyword" /> and notice=0
    </select>

    <select id="countTotalComment" resultType="int">
        select count(*) from ${boardTitle}_comment
        where post_num=#{page.postNum}
    </select>

    <insert id="addComment">
        insert into ${boardTitle}_comment(post_num, id, reg_date, content)
        values(#{comment.postNum}, #{comment.id}, now(), #{comment.content})
    </insert>

    <select id="showCommentList" resultMap="boardCommentDTO">
        select * from
        (select a.post_num, a.comment_num, a.id, a.reg_date, a.content, b.nickname
        from ${boardTitle}_comment a
        inner join member b
        on a.id=b.id
        where a.post_num=#{page.postNum}
        order by a.comment_num desc
        limit #{page.postBeginPoint}, #{page.displayPostLimit} ) c
        order by comment_num
    </select>

    <delete id="deleteComment">
        delete from ${boardTitle}_comment
        where comment_num=#{commentNum}
    </delete>

    <update id="updateCommentCount">
        update ${boardTitle}
        set comment_count=
        (select count(*) from ${boardTitle}_comment
        where post_num=#{postNum})
        where post_num=#{postNum}
    </update>

    <update id="updateViews">
        update ${boardTitle}
        set views= views + 1
        where post_num=#{postNum}
    </update>

    <insert id="saveViewUserIp">
        insert into ${boardTitle}_views
        values(#{postNum}, #{ip}, now())
    </insert>

    <select id="checkViewUserIp" resultType="int">
        select count(*) from ${boardTitle}_views
        where post_num=#{postNum} and ip=#{ip}
    </select>

    <select id="showSelfNoticeList" resultType="com.sc1hub.board.BoardDTO">
        select * from ${boardTitle}
        where notice=1
        order by post_num desc
    </select>

    <!-- 추천 여부 확인 -->
    <select id="checkRecommendation" resultType="int">
        select count(*) from ${boardTitle}_recommend
        where post_num=#{recommendDTO.postNum} and user_id=#{recommendDTO.userId}
    </select>

    <!-- 추천 추가 -->
    <insert id="insertRecommendation">
        insert into ${boardTitle}_recommend (post_num, user_id)
        values (#{recommendDTO.postNum}, #{recommendDTO.userId})
    </insert>

    <!-- 추천 취소 -->
    <delete id="deleteRecommendation">
        delete from ${boardTitle}_recommend
        where post_num=#{recommendDTO.postNum} and user_id=#{recommendDTO.userId}
    </delete>

    <!-- 추천 수 업데이트 -->
    <update id="updateTotalRecommendCount">
        update ${boardTitle}
        set recommend_count = (select count(*) from ${boardTitle}_recommend where post_num=#{postNum})
        where post_num=#{postNum}
    </update>

    <!-- 추천 수 조회 -->
    <select id="getRecommendCount" resultType="int">
        select recommend_count
        from ${boardTitle}
        where post_num=#{postNum}
    </select>

    <!-- 실추천 수 조회 -->
    <select id="getActualRecommendCount" resultType="int">
        select count(*) from ${boardTitle}_recommend where post_num=#{postNum}
    </select>

    <!-- 게시판 목록을 가져오는 쿼리 -->
    <select id="getBoardList" resultType="com.sc1hub.board.BoardListDTO">
        select board_title, korean_title from board_list
    </select>

    <!-- 특정 게시판의 한글 이름을 가져오는 쿼리 -->
    <select id="getKoreanTitle" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT korean_title FROM board_list WHERE board_title = #{boardTitle}
    </select>

</mapper>
