<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sc1hub.mapper.FreeBoardMapper">

    <resultMap id="MemberDTO" type="com.sc1hub.member.MemberDTO">
        <result column="id" property="id" />
        <result column="nickName" property="nickName" />
    </resultMap>

    <resultMap id="freeBoardCommentDTO" type="com.sc1hub.freeBoard.FreeBoardCommentDTO">
        <result column="POST_NUM" property="postNum" />
        <result column="COMMENT_NUM" property="commentNum" />
        <result column="id" property="id" />
        <result column="REG_DATE" property="regDate" />
        <result column="content" property="content" />
        <collection property="memberDTO" resultMap="MemberDTO" />
    </resultMap>

    <select id="showPostList" resultType="com.sc1hub.freeBoard.FreeBoardDTO">
        SELECT post_num, title, content, writer, REG_DATE, views, COMMENT_COUNT
            from freeBoard
            WHERE <include refid="searchKeyword" /> AND notice=0
            order by post_num desc
            LIMIT #{postBeginPoint}, #{displayPostLimit}
    </select>

    <sql id="searchKeyword">
        <if test="searchType == 'title'">title like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'content'">content like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'titleAndContent'">title like CONCAT('%', #{keyword}, '%')
            or content like CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <select id="readPost" resultType="com.sc1hub.freeBoard.FreeBoardDTO">
        select * from freeBoard
            where post_num=#{postNum}
    </select>

    <insert id="submitPost">
        INSERT INTO freeBoard(TITLE, WRITER, REG_DATE, VIEWS, CONTENT, COMMENT_COUNT, NOTICE)
            VALUES(#{title}, #{writer}, NOW(), 0, #{content}, 0, #{notice})
    </insert>

    <update id="submitModifyPost">
        update freeBoard
            set title=#{title}, content=#{content}, writer=#{writer}, notice=#{notice}
            where post_num=#{postNum}
    </update>

    <delete id="deletePost">
        delete from freeBoard
            where post_num=#{postNum}
    </delete>

    <select id="countTotalPost" resultType="int">
        select count(*) from freeBoard
        where <include refid="searchKeyword" /> and notice=0
    </select>

    <select id="countTotalComment" resultType="int">
        select count(*) from freeBoard_COMMENT
            where POST_NUM=#{postNum}
    </select>

    <insert id="addComment">
        INSERT INTO freeBoard_COMMENT(POST_NUM, ID, REG_DATE, CONTENT)
            VALUES(#{postNum}, #{id}, NOW(), #{content})
    </insert>

    <select id="showCommentList" resultMap="freeBoardCommentDTO">
        SELECT * FROM
            (SELECT A.POST_NUM, A.COMMENT_NUM, A.ID, A.REG_DATE, A.CONTENT, B.NICKNAME
                FROM freeBoard_COMMENT A
                INNER JOIN MEMBER B
                ON A.ID=B.ID
                WHERE A.POST_NUM=#{postNum}
                ORDER BY A.COMMENT_NUM DESC
                LIMIT #{postBeginPoint}, #{displayPostLimit} ) C
            ORDER BY COMMENT_NUM

    </select>

    <delete id="deleteComment">
        DELETE FROM freeBoard_COMMENT
            WHERE COMMENT_NUM=#{commentNum}
    </delete>

    <update id="updateCommentCount">
        UPDATE freeBoard
            SET COMMENT_COUNT=
                (SELECT COUNT(*) FROM freeBoard_COMMENT
                    WHERE POST_NUM=#{postNum})
            WHERE POST_NUM=#{postNum}
    </update>
    
    <update id="updateViews">
        UPDATE freeBoard
            SET VIEWS= VIEWS + 1
            WHERE POST_NUM=#{postNum}
    </update>

    <insert id="saveViewUserIp">
        INSERT INTO freeBoard_VIEWS
            VALUES(#{postNum}, #{ip}, NOW())
    </insert>

    <select id="checkViewUserIp" resultType="int">
        SELECT COUNT(*) FROM freeBoard_VIEWS
            WHERE POST_NUM=#{postNum} AND IP=#{ip}
    </select>

    <select id="showSelfNoticeList" resultType="com.sc1hub.freeBoard.FreeBoardDTO">
        SELECT * FROM freeBoard
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

</mapper>