<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.column.mapper.FullNoticeMapper">

    <resultMap id="MemberDTO" type="com.study.column.member.MemberDTO">
        <result column="id" property="id" />
        <result column="nickName" property="nickName" />
    </resultMap>

    <resultMap id="FullNoticeCommentDTO" type="com.study.column.fullNotice.FullNoticeCommentDTO">
        <result column="POST_NUM" property="postNum" />
        <result column="COMMENT_NUM" property="commentNum" />
        <result column="WIRTER" property="writer" />
        <result column="REG_DATE" property="regDate" />
        <result column="content" property="content" />
        <collection property="memberDTO" resultMap="MemberDTO" />
    </resultMap>

    <select id="showBoardList" resultType="com.study.column.board.BoardDTO">
        select post_num, title, content, writer, reg_date, views, COMMENT_COUNT
            FROM BOARD
            WHERE notice=1
            ORDER by post_num desc
            LIMIT 10
    </select>

    <select id="showOpencolumnList" resultType="com.study.column.openColumn.OpenColumnDTO">
        select post_num, title, content, writer, reg_date, views, COMMENT_COUNT
            FROM OPENCOLUMN
            WHERE notice=1
            ORDER by post_num desc
            LIMIT 10
    </select>

    <select id="showVideoList" resultType="com.study.column.video.VideoDTO">
        select post_num, title, content, writer, reg_date, views, COMMENT_COUNT, URL
            FROM VIDEO
            WHERE notice=1
            ORDER by post_num desc
            LIMIT 10
    </select>

    <select id="showLibraryList" resultType="com.study.column.library.LibraryDTO">
        select post_num, title, content, writer, reg_date, views, COMMENT_COUNT
            FROM LIBRARY
            WHERE notice=1
            ORDER by post_num desc
            LIMIT 10
    </select>

    <sql id="searchKeyword">
        <if test="searchType == 'title'">title like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'content'">content like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'titleAndContent'">title like CONCAT('%', #{keyword}, '%')
            or content like CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <select id="readPost" resultType="com.study.column.fullNotice.FullNoticeDTO">
        select * from FULL_NOTICE
            where post_num=#{postNum}
    </select>

    <insert id="submitPost">
        INSERT INTO FULL_NOTICE(TITLE, WRITER, REG_DATE, VIEWS, CONTENT, COMMENT_COUNT, NOTICE)
            VALUES(#{title}, #{writer}, NOW(), 0, #{content}, 0, 1)
    </insert>

    <update id="submitModifyPost">
        UPDATE FULL_NOTICE
            set title=#{title}, content=#{content}, writer=#{writer}
            where post_num=#{postNum}
    </update>

    <delete id="deletePost">
        delete from FULL_NOTICE
            where post_num=#{postNum}
    </delete>

    <select id="countTotalPost" resultType="int">
        select count(*) from FULL_NOTICE
        where <include refid="searchKeyword" /> and notice=0
    </select>

    <insert id="addComment">
        INSERT INTO FULL_NOTICE_COMMENT(POST_NUM, ID, REG_DATE, CONTENT)
            VALUES(#{postNum}, #{id}, NOW(), #{content})
    </insert>

    <select id="showCommentList" resultMap="FullNoticeCommentDTO">
        SELECT * FROM
            (SELECT A.POST_NUM, A.COMMENT_NUM, A.ID, A.REG_DATE, A.CONTENT, B.NICKNAME
                FROM FULL_NOTICE_COMMENT A
                INNER JOIN MEMBER B
                ON A.ID=B.ID
                WHERE A.POST_NUM=#{postNum}
                ORDER BY A.COMMENT_NUM DESC
                LIMIT #{postBeginPoint}, #{displayPostLimit} ) C
            ORDER BY COMMENT_NUM


    </select>

    <delete id="deleteComment">
        DELETE from FULL_NOTICE_COMMENT
            where COMMENT_NUM=#{commentNum}
    </delete>

    <update id="updateCommentCount">
        UPDATE FULL_NOTICE
            SET COMMENT_COUNT=
                (SELECT COUNT(*) FROM FULL_NOTICE_COMMENT
                    WHERE POST_NUM=#{postNum})
            WHERE POST_NUM=#{postNum}
    </update>
    
    <update id="updateViews">
        UPDATE FULL_NOTICE
            SET VIEWS= VIEWS + 1
            WHERE POST_NUM=#{postNum}
    </update>

    <insert id="saveViewUserIp">
        INSERT INTO FULL_NOTICE_VIEWS
            VALUES(#{postNum}, #{ip}, NOW())
    </insert>

    <select id="checkViewUserIp" resultType="int">
        SELECT COUNT(*) FROM FULL_NOTICE_VIEWS
            WHERE POST_NUM=#{postNum} AND IP=#{ip}
    </select>

    <select id="showSelfNoticeList" resultType="com.study.column.fullNotice.FullNoticeDTO">
        SELECT * FROM FULL_NOTICE
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

</mapper>