<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.column.mapper.LibraryMapper">

    <resultMap id="MemberDTO" type="com.study.column.member.MemberDTO">
        <result column="id" property="id" />
        <result column="nickName" property="nickName" />
    </resultMap>

    <resultMap id="LibraryCommentDTO" type="com.study.column.library.LibraryCommentDTO">
        <result column="POST_NUM" property="postNum" />
        <result column="COMMENT_NUM" property="commentNum" />
        <result column="id" property="id" />
        <result column="REG_DATE" property="regDate" />
        <result column="content" property="content" />
        <collection property="memberDTO" resultMap="MemberDTO" />
    </resultMap>

    <select id="showPostList" resultType="com.study.column.library.LibraryDTO">
        SELECT post_num, title, content, writer, reg_date, views, COMMENT_COUNT, notice
            FROM LIBRARY
            WHERE <include refid="searchKeyword" /> AND notice=0
            ORDER by post_num desc
            LIMIT #{postBeginPoint}, #{displayPostLimit}
    </select>

    <sql id="searchKeyword">
        <if test="searchType == 'title'">title like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'content'">content like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'titleAndContent'">title like CONCAT('%', #{keyword}, '%')
            or content like CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <select id="readPost" resultType="com.study.column.library.LibraryDTO">
        SELECT * FROM LIBRARY
            where post_num=#{postNum}
    </select>

    <insert id="submitPost">
        INSERT INTO LIBRARY(TITLE, WRITER, REG_DATE, VIEWS, CONTENT, COMMENT_COUNT, NOTICE)
            VALUES(#{title}, #{writer}, NOW(), 0, #{content}, 0, #{notice})
    </insert>

    <update id="submitModifyPost">
        UPDATE LIBRARY
            set title=#{title}, content=#{content}, writer=#{writer}, notice=#{notice}
            where post_num=#{postNum}
    </update>

    <delete id="deletePost">
        DELETE from LIBRARY
            WHERE post_num=#{postNum}
    </delete>

    <select id="countTotalPost" resultType="int">
        SELECT count(*) from LIBRARY
        WHERE <include refid="searchKeyword" /> and notice=0
    </select>

    <select id="countTotalComment" resultType="int">
        SELECT count(*) from LIBRARY_COMMENT
            WHERE POST_NUM=#{postNum}
    </select>

    <insert id="addComment">
        INSERT INTO LIBRARY_COMMENT(POST_NUM, ID, REG_DATE, CONTENT)
            VALUES(#{postNum}, #{id}, NOW(), #{content})
    </insert>

    <select id="showCommentList" resultMap="LibraryCommentDTO">
        SELECT * FROM
            (SELECT A.POST_NUM, A.COMMENT_NUM, A.ID, A.REG_DATE, A.CONTENT, B.NICKNAME
                FROM LIBRARY_COMMENT A
                INNER JOIN MEMBER B
                ON A.ID=B.ID
                WHERE A.POST_NUM=#{postNum}
                ORDER BY A.COMMENT_NUM DESC
                LIMIT #{postBeginPoint}, #{displayPostLimit}) C
            ORDER BY COMMENT_NUM

    </select>

    <delete id="deleteComment">
        delete from LIBRARY_COMMENT
            where COMMENT_NUM=#{commentNum}
    </delete>

    <update id="updateCommentCount">
        UPDATE LIBRARY
            SET COMMENT_COUNT=
                (SELECT COUNT(*) FROM LIBRARY_COMMENT
                    WHERE POST_NUM=#{postNum})
            WHERE POST_NUM=#{postNum}
    </update>
    
    <update id="updateViews">
        UPDATE LIBRARY
            SET VIEWS= VIEWS + 1
            WHERE POST_NUM=#{postNum}
    </update>

    <insert id="saveViewUserIp">
        INSERT INTO LIBRARY_VIEWS
            VALUES(#{postNum}, #{ip}, NOW())
    </insert>

    <select id="checkViewUserIp" resultType="int">
        SELECT COUNT(*) FROM LIBRARY_VIEWS
            WHERE POST_NUM=#{postNum} AND IP=#{ip}
    </select>

    <select id="showSelfNoticeList" resultType="com.study.column.library.LibraryDTO">
        SELECT * FROM LIBRARY
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

    <select id="showFullNoticeList" resultType="com.study.column.fullNotice.FullNoticeDTO">
        SELECT * FROM FULL_NOTICE
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

    <select id="getRecentPostNum" resultType="int">
        SELECT IFNULL(MAX(POST_NUM), 0)
            FROM LIBRARY
    </select>

    <insert id="insertBoardFileList" parameterType="java.util.List">
        INSERT INTO LIBRARY_FILE(POST_NUM, ORIGINAL_FILE_NAME, FILE_PATH, FILE_SIZE)
            VALUES
            <foreach item="list" index="index" collection="fileList" separator=" , ">
                (#{list.postNum}, #{list.originalFileName}, #{list.filePath}, #{list.fileSize})
            </foreach>
    </insert>

    <select id="showFileListInPost" resultType="com.study.column.library.LibraryFileDTO">
        SELECT * FROM LIBRARY_FILE
            WHERE POST_NUM = #{postNum}
    </select>

    <delete id="deleteFileList" parameterType="int">
        DELETE FROM LIBRARY_FILE
            WHERE POST_NUM = #{postNum}
    </delete>

</mapper>