<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.column.mapper.MemberMapper">

    <select id="isUniqueId" resultType="String">
        SELECT COUNT(*) FROM MEMBER
            WHERE id=#{id}
    </select>

    <select id="isUniqueEmail" resultType="String">
        SELECT COUNT(*) FROM MEMBER
        WHERE email=#{email}
    </select>

    <insert id="submitSignUp">
        INSERT INTO MEMBER(ID, PW, NICKNAME, REALNAME, EMAIL, PHONE, GRADE, REG_DATE)
            VALUES(#{id}, #{pw}, #{nickName}, #{realName}, #{email}, #{phone}, 1, NOW())
    </insert>

    <select id="checkLoginData" resultType="com.study.column.member.MemberDTO">
        SELECT * FROM MEMBER
            WHERE ID=#{id} AND PW=#{pw}
    </select>

    <update id="submitModifyMyInfo">
        UPDATE MEMBER
            SET PW=#{pw}, NICKNAME=#{nickName}, EMAIL=#{email}
            WHERE ID=#{id}
    </update>



    <select id="getMemberInfo" resultType="com.study.column.member.MemberDTO">
        SELECT *
            FROM MEMBER
            WHERE ID=#{id}
    </select>

    <select id="getMemberList" resultType="com.study.column.member.MemberDTO">
        SELECT *
            FROM MEMBER
            WHERE <include refid="searchKeyword" />
            ORDER by id
            LIMIT #{postBeginPoint}, #{displayPostLimit}
    </select>

    <select id="getTotalMemberCount" resultType="int">
        SELECT COUNT(*)
            FROM MEMBER
            WHERE <include refid="searchKeyword" />
    </select>

    <sql id="searchKeyword">
        <if test="searchType == 'id'">ID like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'nickName'">NICKNAME like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'realName'">REALNAME like CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <update id="submitModifyMemberByAdmin">
        UPDATE MEMBER
            SET NICKNAME=#{nickName}, REALNAME=#{realName}, EMAIL=#{email}, PHONE=#{phone}, GRADE=#{grade}
            WHERE ID=#{id}
    </update>

    <select id="findByEmail" resultType="com.study.column.member.MemberDTO">
        SELECT * FROM MEMBER
        WHERE EMAIL=#{email}
    </select>

    <update id="updatePassword">
        UPDATE MEMBER
        SET PW=#{pw}
        WHERE ID=#{id}
    </update>


</mapper>