<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.column.mapper.VideoMapper">

    <resultMap id="MemberDTO" type="com.study.column.member.MemberDTO">
        <result column="id" property="id" />
        <result column="nickName" property="nickName" />
    </resultMap>

    <resultMap id="VideoCommentDTO" type="com.study.column.video.VideoCommentDTO">
        <result column="POST_NUM" property="postNum" />
        <result column="COMMENT_NUM" property="commentNum" />
        <result column="id" property="id" />
        <result column="REG_DATE" property="regDate" />
        <result column="content" property="content" />
        <collection property="memberDTO" resultMap="MemberDTO" />
    </resultMap>

    <select id="showPostList" resultType="com.study.column.video.VideoDTO">
        select post_num, title, content, writer, reg_date, views, COMMENT_COUNT, notice, url
            FROM VIDEO
            WHERE <include refid="searchKeyword" /> AND notice=0
            ORDER by post_num desc
            LIMIT #{postBeginPoint}, #{displayPostLimit}
    </select>

    <sql id="searchKeyword">
        <if test="searchType == 'title'">title like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'content'">content like CONCAT('%', #{keyword}, '%')</if>
        <if test="searchType == 'titleAndContent'">title like CONCAT('%', #{keyword}, '%')
            or content like CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <select id="readPost" resultType="com.study.column.video.VideoDTO">
        select * from VIDEO
            where post_num=#{postNum}
    </select>

    <insert id="submitPost">
        INSERT INTO VIDEO(TITLE, WRITER, REG_DATE, VIEWS, CONTENT, COMMENT_COUNT, NOTICE, url)
            VALUES(#{title}, #{writer}, NOW(), 0, #{content}, 0, #{notice}, #{url})
    </insert>

    <update id="submitModifyPost">
        UPDATE VIDEO
            SET title=#{title}, content=#{content}, writer=#{writer}, notice=#{notice}, url=#{url}
            WHERE post_num=#{postNum}
    </update>

    <delete id="deletePost">
        DELETE from VIDEO
            where post_num=#{postNum}
    </delete>

    <select id="countTotalPost" resultType="int">
        select count(*) from VIDEO
            WHERE <include refid="searchKeyword" /> AND notice=0
    </select>

    <select id="countTotalComment" resultType="int">
        SELECT count(*) from VIDEO_COMMENT
            WHERE POST_NUM=#{postNum}
    </select>

    <insert id="addComment">
        INSERT INTO VIDEO_COMMENT(POST_NUM, ID, REG_DATE, CONTENT)
            VALUES(#{postNum}, #{id}, NOW(), #{content})
    </insert>

    <select id="showCommentList" resultMap="VideoCommentDTO">
        SELECT * FROM
            (SELECT A.POST_NUM, A.COMMENT_NUM, A.ID, A.REG_DATE, A.CONTENT, B.NICKNAME
                FROM VIDEO_COMMENT A
                INNER JOIN MEMBER B
                ON A.ID=B.ID
                WHERE A.POST_NUM=#{postNum}
                ORDER BY A.COMMENT_NUM DESC
                LIMIT #{postBeginPoint}, #{displayPostLimit} ) C
            ORDER BY COMMENT_NUM

    </select>

    <delete id="deleteComment">
        delete from VIDEO_COMMENT
            where COMMENT_NUM=#{commentNum}
    </delete>

    <update id="updateCommentCount">
        UPDATE VIDEO
            SET COMMENT_COUNT=
                (SELECT COUNT(*) FROM VIDEO_COMMENT
                    WHERE POST_NUM=#{postNum})
                WHERE POST_NUM=#{postNum}
    </update>

    <update id="updateViews">
        UPDATE VIDEO
            SET VIEWS= VIEWS + 1
            WHERE POST_NUM=#{postNum}
    </update>

    <insert id="saveViewUserIp">
        INSERT INTO VIDEO_VIEWS
            VALUES(#{postNum}, #{ip}, NOW())
    </insert>

    <select id="checkViewUserIp" resultType="int">
        SELECT COUNT(*) FROM VIDEO_VIEWS
            WHERE POST_NUM=#{postNum} AND IP=#{ip}
    </select>

    <select id="showSelfNoticeList" resultType="com.study.column.video.VideoDTO">
        SELECT * FROM VIDEO
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

    <select id="showFullNoticeList" resultType="com.study.column.fullNotice.FullNoticeDTO">
        SELECT * FROM FULL_NOTICE
            WHERE NOTICE=1
            ORDER BY POST_NUM DESC
    </select>

</mapper>