<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawsite.mapper.VisitorCountMapper">

    <select id="findByDate" resultType="com.lawsite.visitorCount.VisitorCountDTO">
        SELECT * FROM visitor_count WHERE date = #{date}
    </select>

    <update id="incrementDailyCount">
        UPDATE visitor_count SET daily_count = daily_count + 1 WHERE date = #{date}
    </update>

    <update id="incrementTotalCount">
        UPDATE total_visitor_count SET total_count = total_count + 1
    </update>

    <insert id="insertNewRecord">
        INSERT INTO visitor_count (date, daily_count) VALUES (#{date}, 1)
    </insert>

    <select id="getTotalCount" resultType="int">
        SELECT total_count FROM total_visitor_count
    </select>

    <select id="getTodayCount" resultType="int">
        SELECT daily_count FROM visitor_count WHERE date = #{date}
    </select>
</mapper>
